@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #435757;
}

html {
    min-height: 100%;
}

body {
    margin: 20px;
    background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
    font: 500 1.2em/1.2 'Roboto', sans-serif;
}